@import '@/styles/general';

.card_pane {
  background-color: #fff;
  height: 260px;
  width: 100%;
  padding: 0;
}

.content {
  @include flex_center;
  height: 100%;
  padding: 5px;
  padding-top: 15px;
}

.action_area {
  height: 100%;
  padding: 0;
}
